<!-- Job Listing Details -->
<div class="job-listing-details">
  <!-- Details -->
  <div class="job-listing-description">
    <h3 class="job-listing-title">{{ open_job.title }}</h3>

    <!-- Job Listing Footer -->
    <div class="job-listing-footer">
      <ul>
        <li>
          <i class="icon-material-outline-location-on"></i>
          {{ open_job.location }}
        </li>
        <li>
          <i class="icon-material-outline-business-center"></i>
          {{ open_job.type }}
        </li>
        <li>
          <i class="icon-material-outline-access-time"></i>
          {{ open_job.post_date }}
        </li>
      </ul>
    </div>
  </div>
</div>

<!-- Bookmark -->
<span class="bookmark-icon"></span>
