

.head-widget{
    font-weight: 500;
    .task-tags{
        span{
            transition: 0.3s;
          font-size: 14.7px;
          border-radius: 4px;
            font-weight: 520;
          margin: 5px;
        }
        }
}
