<div class="job">
  <div class="d-flex justify-content-start align-items-center main-info">
    <div class="title">Frontend React Developer</div>
    <div class="status">Pending Approval</div>
  </div>
  <div class="info d-flex justify-content-start align-items-center">
        <div class="date d-flex justify-content-center align-items-center me-4">
        <div class="icon"><i class="bi bi-calendar4-week"></i></div>
        <div class="txt">Posted on 10 July, 2019</div>
        </div>
        <div class="expire d-flex justify-content-start align-items-center">
        <div class="icon"><i class="bi bi-calendar4-week"></i></div>
        <div class="txt">Expiring on 10 August, 2019</div>
        </div>
  </div>
  <div class="mng-cad d-flex justify-content-start align-items-center">
    <button class="mng-cad-btn"><i class="bi bi-people-fill"></i>
          Manage Candidates
         <small class="ms-2">0</small>
        </button>
    <div class="edit" data-tippy-placement="top" data-tippy data-original-title="Edit"><i class="bi bi-pencil-square"></i></div>
    <div class="remove" title="Remove"><i class="bi bi-trash"></i></div>
  </div>
</div>
