<footer>

    <div class="footer-top-section ">
        <div class="container top-container">
            <div class="footer-logo">
                <img src="../../../assets/images/logo2.png">
            </div>
            <div class="footer-icons">
                <i class="bi bi-google"></i>
                <i class="bi bi-twitter"></i>
                <i class="bi bi-facebook"></i>
                <i class="bi bi-linkedin"></i>
            </div>
        </div>


    </div>

    <div class="footer-middle-section">
        <div class="container middle-container">
            <div class="middle-details">
                <h3> For Candidtes</h3>
                <div class="nav_links">
                    <a href="#">Browse jobs</a>
                    <a href="#">Add Resume</a>
                    <a href="#">job alerts</a>
                    <a href="#">My Bookmarks</a>

                </div>
            </div>
            <div class="middle-details">
                <h3> For Employers</h3>
                <div class="nav_links">
                    <a href="#">Browse Candidates</a>
                    <a href="#">post a job</a>
                    <a href="#">plans & pricing</a>

                </div>

            </div>
            <div class="middle-details">
                <h3> Helpful Links</h3>
                <div class="nav_links">
                    <a href="#">Contact</a>
                    

                </div>

            </div>
            <div class="middle-details">
                <h3> Acount</h3>
                <div class="nav_links">
                    <a href="#">Login</a>
                    <a href="#">My Account</a>
                    

                </div>

            </div>

            <div class="middle-details">
                <h3> <i class="bi bi-envelope"></i> Sign up For newsLetter</h3>
                <div class="nav_links">
                    <p class="news_Letter_info">Weekly breaking news, analysis and cutting edge <br>
                        advices on job
                        searching.</p>
                    <form class="newsLetter">
                        <input placeholder="Enter your Email Address" name="fname">
                        <button type="submit">
                            <i class="bi bi-arrow-right"></i>
                        </button>
                    </form>
                </div>
            </div>

        </div>

    </div>




    <div class="footer-bottom-section">
        <div>
            
        </div>
        <p>© 2019 Hireo. All Rights Reserved. </p>
        <button type="submit">
            <i class="bi bi-chevron-up"></i>
        </button>
    </div>


</footer>