<!-- <footer>

    <div class="footer-top-section ">
        <div class="container top-container">
            <div class="footer-logo">
                <img src="../../../assets/images/logo2.png">
            </div>
            <div class="footer-icons">
                <i class="bi bi-google"></i>
                <i class="bi bi-twitter"></i>
                <i class="bi bi-facebook"></i>
                <i class="bi bi-linkedin"></i>
            </div>
        </div>


    </div>

    <div class="footer-middle-section">
        <div class="container middle-container">
            <div class="middle-details">
                <h3> For Candidtes</h3>
                <div class="nav_links">
                    <a href="#">Browse jobs</a>
                    <a href="#">Add Resume</a>
                    <a href="#">job alerts</a>
                    <a href="#">My Bookmarks</a>

                </div>
            </div>
            <div class="middle-details">
                <h3> For Employers</h3>
                <div class="nav_links">
                    <a href="#">Browse Candidates</a>
                    <a href="#">post a job</a>
                    <a href="#">plans & pricing</a>

                </div>

            </div>
            <div class="middle-details">
                <h3> Helpful Links</h3>
                <div class="nav_links">
                    <a href="#">Contact</a>
                    

                </div>

            </div>
            <div class="middle-details">
                <h3> Acount</h3>
                <div class="nav_links">
                    <a href="#">Login</a>
                    <a href="#">My Account</a>
                    

                </div>

            </div>

            <div class="middle-details">
                <h3> <i class="bi bi-envelope"></i> Sign up For newsLetter</h3>
                <div class="nav_links">
                    <p class="news_Letter_info">Weekly breaking news, analysis and cutting edge <br>
                        advices on job
                        searching.</p>
                    <form class="newsLetter">
                        <input placeholder="Enter your Email Address" name="fname">
                        <button type="submit">
                            <i class="bi bi-arrow-right"></i>
                        </button>
                    </form>
                </div>
            </div>

        </div>

    </div>




    <div class="footer-bottom-section">
        <div>
            
        </div>
        <p>© 2019 Hireo. All Rights Reserved. </p>
        <button type="submit">
            <i class="bi bi-chevron-up"></i>
        </button>
    </div>


</footer> 

  -->


  <!-- Footer
================================================== -->
<div id="footer">
	
	<!-- Footer Top Section -->
	<div class="footer-top-section">
		<div class="container">
			<div class="row">
				<div class="col-xl-12">

					<!-- Footer Rows Container -->
					<div class="footer-rows-container">
						
						<!-- Left Side -->
						<div class="footer-rows-left">
							<div class="footer-row">
								<div class="footer-row-inner footer-logo">
									<img src="../../../../assets/images/logo2.png" alt="">
								</div>
							</div>
						</div>
						
						<!-- Right Side -->
						<div class="footer-rows-right">

							<!-- Social Icons -->
							<div class="footer-row">
								<div class="footer-row-inner">
									<ul class="footer-social-links">
										<li class="social-links">
											<a href="#" title="Facebook" data-tippy-placement="bottom" data-tippy-theme="light">
												<i class="icon-brand-facebook-f"></i>
											</a>
										</li>
										<li class="social-links">
											<a href="#" title="Twitter" data-tippy-placement="bottom" data-tippy-theme="light">
												<i class="icon-brand-twitter"></i>
											</a>
										</li>
										<li  class="social-links">
											<a href="#" title="Google Plus" data-tippy-placement="bottom" data-tippy-theme="light">
												<i class="icon-brand-google-plus-g"></i>
											</a>
										</li>
										<li  class="social-links">
											<a href="#" title="LinkedIn" data-tippy-placement="bottom" data-tippy-theme="light">
												<i class="icon-brand-linkedin-in"></i>
											</a>
										</li>
									</ul>
									<div class="clearfix"></div>
								</div>
							</div>
							
							<!-- Language Switcher -->
							<div class="footer-row">
								<div class="footer-row-inner">
									<select class="selectpicker language-switcher" data-selected-text-format="count" data-size="5">
										<option selected>English</option>
										<option>Français</option>
										<option>Español</option>
										<option>Deutsch</option>
									</select>
								</div>
							</div>
						</div>

					</div>
					<!-- Footer Rows Container / End -->
				</div>
			</div>
		</div>
	</div>
	<!-- Footer Top Section / End -->

	<!-- Footer Middle Section -->
	<div class="footer-middle-section">
		<div class="container">
			<div class="row">

				<!-- Links -->
				<div class="col-xl-2 col-lg-2 col-md-3">
					<div class="footer-links">
						<h3>For Candidates</h3>
						<ul>
							<li><a href="#"><span>Browse Jobs</span></a></li>
							<li><a href="#"><span>Add Resume</span></a></li>
							<li><a href="#"><span>Job Alerts</span></a></li>
							<li><a href="#"><span>My Bookmarks</span></a></li>
						</ul>
					</div>
				</div>

				<!-- Links -->
				<div class="col-xl-2 col-lg-2 col-md-3">
					<div class="footer-links">
						<h3>For Employers</h3>
						<ul>
							<li><a href="#"><span>Browse Candidates</span></a></li>
							<li><a href="#"><span>Post a Job</span></a></li>
							<li><a href="#"><span>Plans & Pricing</span></a></li>
						</ul>
					</div>
				</div>

				<!-- Links -->
				<div class="col-xl-2 col-lg-2 col-md-3">
					<div class="footer-links">
						<h3>Helpful Links</h3>
						<ul>
							<li><a href="contact-us"><span>Contact</span></a></li>
						</ul>
					</div>
				</div>

				<!-- Links -->
				<div class="col-xl-2 col-lg-2 col-md-3">
					<div class="footer-links">
						<h3>Account</h3>
						<ul>
							<li><a href="#"><span>Log In</span></a></li>
							<li><a href="#"><span>My Account</span></a></li>
						</ul>
					</div>
				</div>

				<!-- Newsletter -->
				<div class="col-xl-4 col-lg-4 col-md-12">
					<h3><i class="icon-feather-mail"></i> Sign Up For a Newsletter</h3>
					<p>Weekly breaking news, analysis and cutting edge advices on job searching.</p>
					<form action="#" method="get" class="newsletter">
						<input type="text" name="fname" placeholder="Enter your email address">
						<button type="submit"><i class="icon-feather-arrow-right"></i></button>
					</form>
				</div>
			</div>
		</div>
	</div>
	<!-- Footer Middle Section / End -->
	
	<!-- Footer Copyrights -->
	<div class="footer-bottom-section">
		<div class="container">
			<div class="row">
				<div class="col-xl-12">
					© 2018 <strong>Hireo</strong>. All Rights Reserved.
				</div>
			</div>
		</div>
	</div>
	<!-- Footer Copyrights / End -->

</div>
<!-- Footer / End -->

