<div id="titlebar" class="gradient">
	<div class="container">
		<div class="row">
			<div class="col-md-12">

				<h2>Log In</h2>

				<!-- Breadcrumbs -->
				<nav id="breadcrumbs" class="dark">
					<ul>
						<li><a href="#">Home</a></li>
						<li>Log In</li>
					</ul>
				</nav>

			</div>
		</div>
	</div>
</div>
<div class="container">
	<div class="row">
		<div class="col-xl-5 offset-xl-3">


			<div class="login-register-page">
				<!-- Welcome Text -->
				<div class="welcome-text">
					<h3>We're glad to see you again!</h3>
					<span>Don't have an account? <a routerLink="/employee-signup">Sign Up!</a></span>
				</div>
                
				  
					
				<!-- Form -->
				<form [formGroup]="form" (submit)="submit()">
					<div class="input-with-icon-left">
					  <i class="icon-material-baseline-mail-outline"></i>
					  <input type="text" class="input-text with-border" formControlName="email" name="email" id="emailaddress" placeholder="Email Address" required/>
					  <div id="email_input_help" *ngIf="form.get('email').touched && form.get('email').hasError('required')" class="form-text text-danger">
						The Email is required
					  </div>
					  <div id="email_input_help" *ngIf="form.get('email').hasError('email')" class="form-text text-danger">
						Invalid Email Format
					  </div>
					</div>
				  
        
					<div class="input-with-icon-left">
					  <i class="icon-material-outline-lock"></i>
					  <input type="password" class="input-text with-border" formControlName="password" id="password" placeholder="Enter new password" name="password" required/>
					  <div id="password_input_help" *ngIf="form.get('password').touched && form.get('password').hasError('required')" class="form-text text-danger">
						The password is required
					  </div>
					</div>


                    <div class="col-xl-6 col-md-6">
                        <div class="section-headline margin-top-25 margin-bottom-12">
                        </div>
                        <div class="input-with-icon-left mx-auto text-center">
                            <i class="icon-material-outline-account-circle"></i>
                            <input formControlName="otp" type="text" class="input-text with-border"
                                placeholder="Enter The OTP">
                            <div id="name_input_help" *ngIf="form.controls['otp'].touched &&
                                form.controls['otp'].invalid" class="text-danger">
                                <small *ngIf="form.controls['otp'].errors?.['required']">OTP is required</small>
                                <small *ngIf="form.controls['otp'].errors?.['minlength']">
                                    Minimum length is 3 characters.
                                </small>
                            </div>
                        </div>
                    </div>
                    
                    
                  

 					<button class="button full-width button-sliding-icon ripple-effect margin-top-10" type="submit">Change Password <i class="icon-material-outline-arrow-right-alt"></i></button>
				  </form>
				  
				
				<!-- Button -->
				
				<!-- Social Login -->
 			 
			</div>

		</div>
	</div>
</div>