 
    
      
    
 <div id="titlebar" class="gradient">
	<div class="container">
		<div class="row">
			<div class="col-md-12">

				<h2>Register</h2>

				<!-- Breadcrumbs -->
				<nav id="breadcrumbs" class="dark">
					<ul>
						<li><a routerLink="/">Home</a></li>
						<li>Register</li>
					</ul>
				</nav>
			</div>
		</div>
	</div>
</div>

 



<div class="container">
	<div class="row">
		<div class="col-xl-5 offset-xl-3">

			<div class="login-register-page">
				<!-- Welcome Text -->
				<div class="welcome-text">
					<h3 style="font-size: 26px;">Let's create your account!</h3>
					<span>Already have an account? <a routerLink="/login">Log In!</a></span>
				</div>

 				 <!-- Account Type -->
				<div class="account-type">
					<div>
					  <a routerLink="/employee-signup">
						<input type="radio" name="account-type-radio" id="freelancer-radio" class="account-type-radio" />
						<label for="freelancer-radio" class="ripple-effect-dark"><i class="icon-material-outline-account-circle"></i> Employee</label>
					  </a>
					</div>
					<div>
					  <a routerLink="/company-signup">
						<input type="radio" name="account-type-radio" id="employer-radio" class="account-type-radio" checked/>
						<label for="employer-radio" class="ripple-effect-dark"><i class="icon-material-outline-business-center"></i> Company</label>
					  </a>
					</div>
				  </div>


				<!-- Form -->
				<form [formGroup]="form" (submit)="submit()">
					<div class="row">
						<div class="col-xl-6 col-md-6">
							<div class="section-headline margin-top-25 margin-bottom-12">
							</div>
							<div class="input-with-icon-left no-border">
								<i class="icon-material-outline-account-circle"></i>
								<input formControlName="first_name" type="text" class="input-text"
									placeholder="First Name">
								<div id="name_input_help" *ngIf="
                  form.controls['first_name'].touched &&
                  form.controls['first_name'].invalid
                  " class="text-danger">
									<small *ngIf="form.controls['first_name'].errors?.['required']">FirstName is required</small>
									<small *ngIf="form.controls['first_name'].errors?.['minlength']">
										Minimum length is 3 characters.
									  </small>

								</div>
							</div>
						</div>

						<div class="col-xl-6 col-md-6">
							<div class="section-headline margin-top-25 margin-bottom-12">
							</div>
							<div class="input-with-icon-left">
								<i class="icon-material-outline-account-circle"></i>
								<input formControlName="last_name" type="text" class="input-text with-border"
									placeholder="Last Name">
									<div id="name_input_help" *ngIf="
                  form.controls['last_name'].touched &&
                  form.controls['last_name'].invalid
                  " class="text-danger">
									<small *ngIf="form.controls['last_name'].errors?.['required']">LastName is required
										is required</small>
										<small *ngIf="form.controls['last_name'].errors?.['minlength']">
											Minimum length is 3 characters.
										  </small>

								</div>


							</div>
						</div>
					</div>


					<div class="input-with-icon-left no-border">
						<i class="icon-material-outline-account-circle"></i>
						<input type="text" formControlName="company_name" name="company_name" class="input-text" placeholder="Company Name">

						<div id="name_input_help" *ngIf="
                  form.controls['company_name'].touched &&
                  form.controls['company_name'].invalid
                  " class="text-danger">
									<small *ngIf="form.controls['company_name'].errors?.['required']">company_name is required</small>
									<small *ngIf="form.controls['company_name'].errors?.['minlength']">
										Minimum length is 3 characters.
									  </small>
								   
								</div>
							</div>
 

					<div class="input-with-icon-left">
						<i class="icon-material-baseline-mail-outline"></i>
						<input formControlName="email" type="text" class="input-text with-border"
							name="emailaddress-register" id="emailaddress-register" placeholder="Email Address"
							required />

							<div
                  id="name_input_help"
                  *ngIf="
                  form.controls['email'].touched &&
                  form.controls['email'].invalid
                  "
                  class="form-text text-danger"
                >
                  <small *ngIf="form.controls['email'].errors?.['required']"
                    >The Email is required</small
                  >
                  <small *ngIf="form.controls['email'].errors?.['email']"
                    >Invalid Email Format</small
                  >
                  
                </div>
					</div>


					<div class="input-with-icon-left" title="Should be at least 8 characters long"
						data-tippy-placement="bottom">
						<i class="icon-material-outline-lock"></i>
						<input formControlName="password" type="password" class="input-text with-border"
							name="password-register" id="password-register" placeholder="Password" required />
							<div
							id="name_input_help"
							*ngIf="
							form.controls['password'].touched &&
							form.controls['password'].invalid
							"
							class="form-text text-danger"
						  >
							<small *ngIf="form.controls['password'].errors?.['required']"
							  >The password is required</small
							>
							<small *ngIf="form.controls['password'].errors?.['minlength']">
								Minimum length is 8 characters.
							  </small>
							 
						  
							
						  </div>
					</div>

					<div class="input-with-icon-left">
						<i class="icon-material-outline-lock"></i>
						<input formControlName="password_confirmation" type="password" class="input-text with-border"
							name="password-repeat-register" id="password-repeat-register" placeholder="Repeat Password"
							required />

							<span class="text-danger" 
                  *ngIf="form.get('password')?.valid && form.get('password_confirmation')?.dirty && (form.get('password')?.value !== form.get('password_confirmation')?.value)">
                    Password and Confirm Password must match
              </span>
                  <div
                  id="name_input_help"
                  *ngIf="
                  form.controls['password_confirmation'].touched &&
                  form.controls['password_confirmation'].invalid
                  "
                  class="form-text text-danger"
                >
                  <small *ngIf="form.controls['password_confirmation'].errors?.['required']"
                    >The password is required</small
                  >
					</div>
				</div>

					<button class="button full-width button-sliding-icon ripple-effect margin-top-10"
						type="submit">Register <i class="icon-material-outline-arrow-right-alt"></i></button>

				</form>

				<!-- Button -->

				<!-- Social Login -->
				<div class="social-login-separator"><span>or</span></div>
				<div class="social-login-buttons">
					<button class="facebook-login ripple-effect"><i class="icon-brand-facebook-f"></i> Register via
						Facebook</button>
					<button class="google-login ripple-effect"><i class="icon-brand-google-plus-g"></i> Register via
						Google+</button>
				</div>
			</div>

		</div>
	</div>
</div>
 	
 