<div class="dashboard-container">
	<app-sidebar></app-sidebar>


	<div class="dashboard-content-container" data-simplebar="init">
		<div class="simplebar-track vertical" style="visibility: visible;">
			<div class="simplebar-scrollbar" style="visibility: visible; top: 0px; height: 1589px;"></div>
		</div>
		<div class="simplebar-track horizontal" style="visibility: visible;">
			<div class="simplebar-scrollbar" style="visibility: visible; left: 0px; width: 25px;"></div>
		</div>
		<div class="simplebar-scroll-content" style="padding-right: 17px; margin-bottom: -34px;">
			<div class="simplebar-content" style="padding-bottom: 17px; margin-right: -17px;">
				<div class="dashboard-content-inner">

					<!-- Dashboard Headline -->
					<div class="dashboard-headline">
						<h3>Howdy, Tom!</h3>
						<span>We are glad to see you again!</span>

						<!-- Breadcrumbs -->
						<nav id="breadcrumbs" class="dark">
							<ul>
								<li><a href="#">Home</a></li>
								<li>Dashboard</li>
							</ul>
						</nav>
					</div>

					<!-- Fun Facts Container -->
					<div class="fun-facts-container">
						<div class="fun-fact" data-fun-fact-color="#b81b7f">
							<div class="fun-fact-text">
								<span>Jobs Applied</span>
								<h4>{{jobsNumber}}</h4>
							</div>
							<div class="fun-fact-icon" style="background-color: rgba(184, 27, 127, 0.07);"><i
									class="icon-material-outline-business-center" style="color: rgb(184, 27, 127);"></i>
							</div>
						</div>
						<div class="fun-fact" data-fun-fact-color="#efa80f">
							<div class="fun-fact-text">
								<span>Reviews</span>
								<h4>{{reviewsNumber}}</h4>
							</div>
							<div class="fun-fact-icon" style="background-color: rgba(239, 168, 15, 0.07);"><i
									class="icon-material-outline-rate-review" style="color: rgb(239, 168, 15);"></i>
							</div>
						</div>
					</div>

					<!-- Row -->
					<div class="row">

						<div class="col-xl-8">
							<!-- Dashboard Box -->
							<div class="dashboard-box main-box-in-row">
								<div class="headline">
									<h3><i class="icon-feather-bar-chart-2"></i> Your Profile Views</h3>
									<div class="sort-by">
										<div class="btn-group bootstrap-select hide-tick"><button type="button"
												class="btn dropdown-toggle btn-default" data-toggle="dropdown"
												role="button" title="Last 6 Months"><span
													class="filter-option pull-left">Last 6 Months</span>&nbsp;<span
													class="bs-caret"><span class="caret"></span></span></button>
											<div class="dropdown-menu open" role="combobox">
												<ul class="dropdown-menu inner" role="listbox" aria-expanded="false">
													<li data-original-index="0" class="selected"><a tabindex="0"
															class="" data-tokens="null" role="option"
															aria-disabled="false" aria-selected="true"><span
																class="text">Last 6 Months</span><span
																class="glyphicon glyphicon-ok check-mark"></span></a>
													</li>
													<li data-original-index="1"><a tabindex="0" class=""
															data-tokens="null" role="option" aria-disabled="false"
															aria-selected="false"><span class="text">This
																Year</span><span
																class="glyphicon glyphicon-ok check-mark"></span></a>
													</li>
													<li data-original-index="2"><a tabindex="0" class=""
															data-tokens="null" role="option" aria-disabled="false"
															aria-selected="false"><span class="text">This
																Month</span><span
																class="glyphicon glyphicon-ok check-mark"></span></a>
													</li>
												</ul>
											</div><select class="selectpicker hide-tick" tabindex="-98">
												<option>Last 6 Months</option>
												<option>This Year</option>
												<option>This Month</option>
											</select>
										</div>
									</div>
								</div>
								<div class="content">
									<!-- Chart -->
									<div class="chart">
										<div class="chartjs-size-monitor"
											style="position: absolute; inset: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;">
											<div class="chartjs-size-monitor-expand"
												style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;">
												<div
													style="position:absolute;width:1000000px;height:1000000px;left:0;top:0">
												</div>
											</div>
											<div class="chartjs-size-monitor-shrink"
												style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;">
												<div style="position:absolute;width:200%;height:200%;left:0; top:0">
												</div>
											</div>
										</div>
										<canvas id="chart" width="939" height="422" class="chartjs-render-monitor"
											style="display: block; width: 939px; height: 422px;"></canvas>
									</div>
								</div>
							</div>
							<!-- Dashboard Box / End -->
						</div>
						<div class="col-xl-4">

							<!-- Dashboard Box -->
							<!-- If you want adjust height of two boxes
						 add to the lower box 'main-box-in-row'
						 and 'child-box-in-row' to the higher box -->
							<div class="dashboard-box child-box-in-row">
								<div class="headline">
									<h3><i class="icon-material-outline-note-add"></i> Notes</h3>
								</div>

								<div class="content with-padding">
									<!-- Note -->
									<div class="dashboard-note">
										<p>Meeting with candidate at 3pm who applied for Bilingual Event Support
											Specialist</p>
										<div class="note-footer">
											<span class="note-priority high">High Priority</span>
											<div class="note-buttons">
												<a href="#" data-tippy-placement="top" data-tippy=""
													data-original-title="Edit"><i class="icon-feather-edit"></i></a>
												<a href="#" data-tippy-placement="top" data-tippy=""
													data-original-title="Remove"><i
														class="icon-feather-trash-2"></i></a>
											</div>
										</div>
									</div>
									<!-- Note -->
									<div class="dashboard-note">
										<p>Extend premium plan for next month</p>
										<div class="note-footer">
											<span class="note-priority low">Low Priority</span>
											<div class="note-buttons">
												<a href="#" data-tippy-placement="top" data-tippy=""
													data-original-title="Edit"><i class="icon-feather-edit"></i></a>
												<a href="#" data-tippy-placement="top" data-tippy=""
													data-original-title="Remove"><i
														class="icon-feather-trash-2"></i></a>
											</div>
										</div>
									</div>
									<!-- Note -->
									<div class="dashboard-note">
										<p>Send payment to David Peterson</p>
										<div class="note-footer">
											<span class="note-priority medium">Medium Priority</span>
											<div class="note-buttons">
												<a href="#" data-tippy-placement="top" data-tippy=""
													data-original-title="Edit"><i class="icon-feather-edit"></i></a>
												<a href="#" data-tippy-placement="top" data-tippy=""
													data-original-title="Remove"><i
														class="icon-feather-trash-2"></i></a>
											</div>
										</div>
									</div>
								</div>
								<div class="add-note-button">
									<a href="#small-dialog"
										class="popup-with-zoom-anim button full-width button-sliding-icon">Add Note <i
											class="icon-material-outline-arrow-right-alt"></i></a>
								</div>
							</div>
							<!-- Dashboard Box / End -->
						</div>
					</div>
					<!-- Row / End -->

					<!-- Row -->
					<div class="row">

						<!-- Dashboard Box -->
						<div class="col-xl-6">
							<div class="dashboard-box">
								<div class="headline">
									<h3><i class="icon-material-baseline-notifications-none"></i> Notifications</h3>
									<button class="mark-as-read ripple-effect-dark" data-tippy-placement="left"
										data-tippy="" data-original-title="Mark all as read">
										<i class="icon-feather-check-square"></i>
									</button>
								</div>
								<div class="content">
									<ul class="dashboard-box-list">
										<li>
											<span class="notification-icon"><i
													class="icon-material-outline-group"></i></span>
											<span class="notification-text">
												<strong>Michael Shannah</strong> applied for a job <a href="#">Full
													Stack Software Engineer</a>
											</span>
											<!-- Buttons -->
											<div class="buttons-to-right single-right-button">
												<a href="#" class="button ripple-effect ico" data-tippy-placement="left"
													data-tippy="" data-original-title="Mark as read"><i
														class="icon-feather-check-square"></i></a>
											</div>
										</li>
										<li>
											<span class="notification-icon"><i
													class=" icon-material-outline-gavel"></i></span>
											<span class="notification-text">
												<strong>Gilber Allanis</strong> placed a bid on your <a href="#">iOS App
													Development</a> project
											</span>
											<!-- Buttons -->
											<div class="buttons-to-right single-right-button">
												<a href="#" class="button ripple-effect ico" data-tippy-placement="left"
													data-tippy="" data-original-title="Mark as read"><i
														class="icon-feather-check-square"></i></a>
											</div>
										</li>
										<li>
											<span class="notification-icon"><i
													class="icon-material-outline-autorenew"></i></span>
											<span class="notification-text">
												Your job listing <a href="#">Full Stack Software Engineer</a> is
												expiring
											</span>
											<!-- Buttons -->
											<div class="buttons-to-right single-right-button">
												<a href="#" class="button ripple-effect ico" data-tippy-placement="left"
													data-tippy="" data-original-title="Mark as read"><i
														class="icon-feather-check-square"></i></a>
											</div>
										</li>
										<li>
											<span class="notification-icon"><i
													class="icon-material-outline-group"></i></span>
											<span class="notification-text">
												<strong>Sindy Forrest</strong> applied for a job <a href="#">Full Stack
													Software Engineer</a>
											</span>
											<!-- Buttons -->
											<div class="buttons-to-right single-right-button">
												<a href="#" class="button ripple-effect ico" data-tippy-placement="left"
													data-tippy="" data-original-title="Mark as read"><i
														class="icon-feather-check-square"></i></a>
											</div>
										</li>
										<li>
											<span class="notification-icon"><i
													class="icon-material-outline-rate-review"></i></span>
											<span class="notification-text">
												<strong>David Peterson</strong> left you a <span
													class="star-rating no-stars" data-rating="5.0"><span
														class="star"></span><span class="star"></span><span
														class="star"></span><span class="star"></span><span
														class="star"></span></span> rating after finishing <a
													href="#">Logo Design</a> task
											</span>
											<!-- Buttons -->
											<div class="buttons-to-right single-right-button">
												<a href="#" class="button ripple-effect ico" data-tippy-placement="left"
													data-tippy="" data-original-title="Mark as read"><i
														class="icon-feather-check-square"></i></a>
											</div>
										</li>
									</ul>
								</div>
							</div>
						</div>

						<!-- Dashboard Box -->

					</div>
					<!-- Row / End -->

					<!-- Footer -->
					<div class="dashboard-footer-spacer"></div>
					<div class="small-footer margin-top-15">
						<div class="small-footer-copyrights">
							© 2018 <strong>Hireo</strong>. All Rights Reserved.
						</div>
						<ul class="footer-social-links">
							<li>
								<a href="#" data-tippy-placement="top" data-tippy="" data-original-title="Facebook">
									<i class="icon-brand-facebook-f"></i>
								</a>
							</li>
							<li>
								<a href="#" data-tippy-placement="top" data-tippy="" data-original-title="Twitter">
									<i class="icon-brand-twitter"></i>
								</a>
							</li>
							<li>
								<a href="#" data-tippy-placement="top" data-tippy="" data-original-title="Google Plus">
									<i class="icon-brand-google-plus-g"></i>
								</a>
							</li>
							<li>
								<a href="#" data-tippy-placement="top" data-tippy="" data-original-title="LinkedIn">
									<i class="icon-brand-linkedin-in"></i>
								</a>
							</li>
						</ul>
						<div class="clearfix"></div>
					</div>
					<!-- Footer / End -->

				</div>
			</div>
		</div>
	</div>
</div>
