<div class="manage-candidates">
    <div class="dashboard-container">
        <!-- add SideBar  -->
        <app-sidebar></app-sidebar>

        <!-- add content  -->
      <div class="dashboard-content-container" data-simplebar>
        <div class="dashboard-content-inner">
          <!-- Manage Candidates Headline -->
            <div class="dashboard-headline">
                <h3>Manage Candidates</h3>
                <span class="margin-top-7">
                    Job Applications for Full Stack PHP Developer
                </span>
    
                <!-- Breadcrumbs -->
                <nav id="breadcrumbs" class="dark">
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Dashboard</a></li>
                    <li>Manage Candidates</li>
                </ul>
                </nav>
            </div>
    
          <!-- Row -->
          <div class="row">
            <!-- Dashboard Box -->
            <div class="col-xl-12">
              <div class="dashboard-box margin-top-0">
                <!-- Headline -->
                <div class="headline">
                  <h3>
                    <i class="icon-material-outline-supervisor-account"></i> 
                    <span>3 </span>
                    Candidates
                  </h3>
                </div>
    
                <div class="content">
                  <ul class="dashboard-box-list">
                    <li *ngFor="let Candidate of candidates">
                        <app-candidate></app-candidate>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <!-- Row / End -->
          <app-dashboard-footer></app-dashboard-footer>

        </div>
      </div>

    </div>
</div>

