<header>
  <div href="/" class="right-side">
    <a class="logo">
      <img src="../../../assets/images/logo.png" />
    </a>
    <nav class="navbar">
      <a href="#home" class="navbar-home nav-item">Home</a>
      <a href="#home" class="navbar-home nav-item">Home</a>
 
      <div class="dropdown-navbar">
        <a class="dropbtn"
          >Explore
          <i class="bi bi-caret-down-fill"></i>
        </a>
        <div class="dropdown-content">
          <a href="#">Explore companies</a>
          <a href="#">Explore jobs </a>
        </div>
      </div>
      <div class="dropdown-navbar">
        <a class="dropbtn"
          >Dashboard
          <i class="bi bi-caret-down-fill"></i>
        </a>
        <div class="dropdown-content">
          <a href="#">Dashboard</a>
          <a href="#">Messages </a>
          <a href="#">Bookmarks</a>
          <a href="#">Reviews</a>
          <a href="#">Settings</a>
        </div>
      </div>

      <a class="navbar-contact nav-item" href="#">Contact</a>
      <a class="navbar-login nav-item" href="#">Login</a>
      <a class="navbar-register nav-item" href="#">Register</a>
    </nav>
  </div>

  <div class="left-side">
    <div class="icons-navbar">
      <i class="bi bi-bell"><span class="number-icon">4</span></i>
      <i class="bi bi-envelope"><span class="number-icon"> 3</span></i>
    </div>
    <div class="user-avatar">
      <img src="../../../assets/images/user-avatar-small-01.jpg" />
      <i class="bi bi-circle-fill"></i>
    </div>
  </div>
</header>
