<div class="single-page-header" data-background-image="/assets/images/single-company.jpg">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="single-page-header-inner">
          <div class="left-side">
            <div class="header-image">
              <img src="/assets/images/{{ company_data.logo }}" alt="logo" />
            </div>
            <div class="header-details">
              <h3>{{ company_data.name }} <span>{{ company_data.title }} </span></h3>
              <ul>
                <li>
                  <div class="star-rating1" [attr.data-rating]="company_data.rating || 0">
                    <span class="star" *ngFor="let star of getFilledStars(company_data.rating)"></span>
                    <span class="star empty" *ngFor="let star of getEmptyStars(company_data.rating)"></span>
                  </div>
                </li>
                <li>
                  <img class="flag" [src]="'/assets/images/flags/' + company_data.nationality + '.svg'" alt="" />
                  {{ company_data.nationality }}
                </li>
                <li><div class="verified-badge-with-title" *ngIf="company_data.verified">Verified</div></li>
              </ul>
            </div>
          </div>
          <div class="right-side">
            <!-- Breadcrumbs -->
            <nav id="breadcrumbs" class="white">
              <ul>
                <li><a routerLink="/">Home</a></li>
                <li><a routerLink="/explore-jobs">Browse Companies</a></li>
                <li>{{ company_data.name }}</li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
