<div
  class="single-page-header"
  data-background-image="/assets/images/single-company.jpg"
>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="single-page-header-inner">
          <div class="left-side">
            <div class="header-image">
              <img src="/assets/images/browse-companies-03.png" alt="" />
            </div>
            <div class="header-details">
              <h3>Acodia <span>Software House</span></h3>
              <ul>
                <li><div class="star-rating" data-rating="4.9"></div></li>
                <li>
                  <img class="flag" src="/assets/images/flags/de.svg" alt="" />
                  Germany
                </li>
                <li><div class="verified-badge-with-title">Verified</div></li>
              </ul>
            </div>
          </div>
          <div class="right-side">
            <!-- Breadcrumbs -->
            <nav id="breadcrumbs" class="white">
              <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">Browse Companies</a></li>
                <li>Acodia</li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
