<div class="job-listing">
  <!-- Job Listing Details -->
  <div class="job-listing-details">

    <!-- Details -->
    <div class="job-listing-description">
      <h3 class="job-listing-title">
        <a href="#">{{ job['name'] }}</a>

        <!-- <span *ngIf="isexpired" class="dashboard-status-button red"
          >Expired</span
        >
        <span *ngIf="isApproved" class="dashboard-status-button yellow"
          >Expiring</span
        > 
     
        <span *ngIf="isPending"   class="dashboard-status-button green">Pending Approval</span> -->
      </h3>

      <!-- Job Listing Footer -->
      <div class="job-listing-footer">
        <ul>
          <li  *ngIf="storedRole=='cmp'">
            <i class="icon-material-outline-date-range"></i> Posted on {{ job['created_at'] }}
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<!-- Buttons -->
<div class="buttons-to-right always-visible">
  <a *ngIf="storedRole=='cmp'" routerLink="/company/dashboard/candidates" class="button ripple-effect"
    ><i class="icon-material-outline-supervisor-account"></i> Manage Candidates
    </a
  >
  <a
  *ngIf="storedRole=='cmp'"
  [routerLink]="['/company/dashboard/editJob', job.id]"
    class="button gray ripple-effect ico"
    title="Edit"
    data-tippy-placement="top"
    ><i class="icon-feather-edit"></i
  ></a>

  <!-- <a [routerLink]="['/edit-job', job.id || 0]">Edit Job</a> -->

  <a
  *ngIf="storedRole=='cmp'"
    class="button gray ripple-effect ico"
    title="Remove"
    data-tippy-placement="top"
    (click)="deleteJob(job.id)"
    ><i class="icon-feather-trash-2"></i
  ></a>
</div>
