<router-outlet>

</router-outlet>
<div class="dashboard-container">
	<app-sidebar></app-sidebar>
	<div class="dashboard-content-container" data-simplebar>
		<div class="dashboard-content-inner">

			<!-- Dashboard Headline -->
			<div class="dashboard-headline">
				<h3>Reviews</h3>

				<!-- Breadcrumbs -->
				<nav id="breadcrumbs" class="dark">
					<ul>
						<li><a href="#">Home</a></li>
						<li><a href="#">Dashboard</a></li>
						<li>Reviews</li>
					</ul>
				</nav>
			</div>

			<!-- Row -->
			<div class="row">
				<!-- Dashboard Box -->
				<div class="col-xl-12">
					<div class="dashboard-box margin-top-0">

						<!-- Headline -->
						<div class="headline">
							<h3><i class="icon-material-outline-rate-review"></i> Reviews</h3>
						</div>
						<div class="content">
							<ul class="dashboard-box-list">



								<ng-container *ngIf="userType=='emp'; else company">
									<li *ngFor="let review of reviews">
										<div class="boxed-list-item">
											<!-- Content -->
											<div class="item-content">
												<div class="d-flex">
													<div>
														<a href="#" class="reviews-company-logo">
															<img src="{{review.logo}}" alt="">
														</a>
													</div>
													<div>
														<h4>{{review.title}}</h4>
														<div class="item-details margin-top-10">
															<div class="detail-item"><i
																	class="icon-material-outline-business"></i>
																{{review.company_name}}</div>
															<div class="detail-item"><i
																	class="icon-material-outline-access-time"></i>{{review.created_at}}
															</div>
															<div class="star-rating" [attr.data-rating]="review.rating">
															</div>
														</div>
													</div>
												</div>
												<div class="item-description">
													<p>{{review.comment}}</p>
												</div>
											</div>
										</div>
										<a href="#small-dialog-1"
											class="popup-with-zoom-anim button gray ripple-effect margin-top-5 margin-bottom-10"><i
												class="icon-feather-edit"></i> Edit Review</a>
									</li>
								</ng-container>
								<ng-template #company>
									<li *ngFor="let review of reviews">
										<div class="boxed-list-item">
											<!-- Content -->
											<div class="item-content">
												<h4>{{review.title}}</h4>
												<div class="item-details margin-top-10">
													<div class="detail-item"><i
															class="icon-material-outline-access-time"></i>{{review.created_at}}
													</div>
													<div class="star-rating" [attr.data-rating]="review.rating"></div>
												</div>
												<div class="item-description">
													<p>{{review.comment}}</p>
												</div>
											</div>
										</div>
									</li>
								</ng-template>
							</ul>
						</div>
					</div>
					<div class="listings-container margin-top-35">
						<!-- Job Listing -->
						<app-pagination [paginationData]="paginationData"></app-pagination>
					</div>
				</div>

			</div>
			<!-- Row / End -->

			<!-- Footer -->
			<div class="dashboard-footer-spacer"></div>
			<div class="small-footer margin-top-15">
				<div class="small-footer-copyrights">
					© 2018 <strong>Hireo</strong>. All Rights Reserved.
				</div>
				<ul class="footer-social-links">
					<li>
						<a href="#" title="Facebook" data-tippy-placement="top">
							<i class="icon-brand-facebook-f"></i>
						</a>
					</li>
					<li>
						<a href="#" title="Twitter" data-tippy-placement="top">
							<i class="icon-brand-twitter"></i>
						</a>
					</li>
					<li>
						<a href="#" title="Google Plus" data-tippy-placement="top">
							<i class="icon-brand-google-plus-g"></i>
						</a>
					</li>
					<li>
						<a href="#" title="LinkedIn" data-tippy-placement="top">
							<i class="icon-brand-linkedin-in"></i>
						</a>
					</li>
				</ul>
				<div class="clearfix"></div>
			</div>
			<!-- Footer / End -->

		</div>
	</div>
	<!-- Dashboard Content / End -->
</div>
<a href="#small-dialog-1"
											class="popup-with-zoom-anim button gray ripple-effect margin-top-5 margin-bottom-10"><i
												class="icon-feather-edit"></i> Edit Review</a>
<!-- Edit Review Popup
================================================== -->
<div id="small-dialog-1" class="zoom-anim-dialog mfp-hide dialog-with-tabs">

	<!--Tabs -->
	<div class="sign-in-form">

		<ul class="popup-tabs-nav">
		</ul>

		<div class="popup-tabs-container">

			<!-- Tab -->
			<div class="popup-tab-content" id="tab1">

				<!-- Welcome Text -->
				<div class="welcome-text">
					<h3>Change Review</h3>
					<span>Rate <a href="#">Herman Ewout</a> for the project <a href="#">WordPress Theme Installation</a> </span>
				</div>

				<!-- Form -->
				<form method="post" id="change-review-form">

					<div class="feedback-yes-no">
						<strong>Was this delivered on budget?</strong>
						<div class="radio">
							<input id="radio-rating-1" name="radio" type="radio" checked>
							<label for="radio-rating-1"><span class="radio-label"></span> Yes</label>
						</div>

						<div class="radio">
							<input id="radio-rating-2" name="radio" type="radio">
							<label for="radio-rating-2"><span class="radio-label"></span> No</label>
						</div>
					</div>

					<div class="feedback-yes-no">
						<strong>Was this delivered on time?</strong>
						<div class="radio">
							<input id="radio-rating-3" name="radio2" type="radio" checked>
							<label for="radio-rating-3"><span class="radio-label"></span> Yes</label>
						</div>

						<div class="radio">
							<input id="radio-rating-4" name="radio2" type="radio">
							<label for="radio-rating-4"><span class="radio-label"></span> No</label>
						</div>
					</div>

					<div class="feedback-yes-no">
						<strong>Your Rating</strong>
						<div class="leave-rating">
							<input type="radio" name="rating" id="rating-1" value="1" checked/>
							<label for="rating-1" class="icon-material-outline-star"></label>
							<input type="radio" name="rating" id="rating-2" value="2"/>
							<label for="rating-2" class="icon-material-outline-star"></label>
							<input type="radio" name="rating" id="rating-3" value="3"/>
							<label for="rating-3" class="icon-material-outline-star"></label>
							<input type="radio" name="rating" id="rating-4" value="4"/>
							<label for="rating-4" class="icon-material-outline-star"></label>
							<input type="radio" name="rating" id="rating-5" value="5"/>
							<label for="rating-5" class="icon-material-outline-star"></label>
						</div><div class="clearfix"></div>
					</div>

					<textarea class="with-border" placeholder="Comment" name="message" id="message" cols="7" required>Excellent programmer - helped me fixing small issue.</textarea>

				</form>

				<!-- Button -->
				<button class="button full-width button-sliding-icon ripple-effect" type="submit" form="change-review-form">Save Changes <i class="icon-material-outline-arrow-right-alt"></i></button>

			</div>

		</div>
	</div>
</div>
<!-- Edit Review Popup / End -->

<!-- Button trigger modal -->
