<div class="dashboard-container">
	<app-sidebar></app-sidebar>
	<div class="dashboard-content-container" data-simplebar="init">
		<div class="simplebar-track vertical" style="visibility: visible;">
			<div class="simplebar-scrollbar" style="visibility: visible; top: 0px; height: 1081px;"></div>
		</div>
		<div class="simplebar-track horizontal" style="visibility: visible;">
			<div class="simplebar-scrollbar" style="visibility: visible; left: 0px; width: 25px;"></div>
		</div>
		<div class="simplebar-scroll-content" style="padding-right: 17px; margin-bottom: -34px;">
			<div class="simplebar-content" style="padding-bottom: 17px; margin-right: -17px;">
				<div class="dashboard-content-inner">

					<!-- Dashboard Headline -->
					<div class="dashboard-headline">
						<h3>Bookmarks</h3>

						<!-- Breadcrumbs -->
						<nav id="breadcrumbs" class="dark">
							<ul>
								<li><a href="#">Home</a></li>
								<li><a href="#">Dashboard</a></li>
								<li>Bookmarks</li>
							</ul>
						</nav>
					</div>

					<!-- Row -->
					<div class="row" style="margin-bottom:20px ;">

						<!-- Dashboard Box -->
						<div class="col-xl-12">
							<div class="dashboard-box margin-top-0">

								<!-- Headline -->
								<div class="headline">
									<h3><i class="icon-material-outline-business-center"></i> Bookmarked Jobs</h3>
								</div>

								<div class="content">
									<ul class="dashboard-box-list">



										<li *ngFor="let bookmark of bookmarks">
											<!-- Job Listing -->
											<div class="job-listing">

												<!-- Job Listing Details -->
												<div class="job-listing-details">

													<!-- Logo -->
													<a href="#" class="job-listing-company-logo">
														<img src="images/company-logo-02.png"
															alt=""><!-- logo in not set-->
													</a>

													<!-- Details -->
													<div class="job-listing-description">
														<h3 class="job-listing-title"><a href="#">{{bookmark.name}}</a>
														</h3>

														<!-- Job Listing Footer -->
														<div class="job-listing-footer">
															<ul>
																<li><i class="icon-material-outline-business"></i>
																	{{bookmark.company_name}}</li>
																<li><i class="icon-material-outline-location-on"></i>
																	{{bookmark.location}}</li>
																<li><i
																		class="icon-material-outline-business-center"></i>
																	{{bookmark.type}}</li>
																<li><i class="icon-material-outline-access-time"></i>
																	{{bookmark.create_at}}</li>
															</ul>
														</div>
													</div>
												</div>
											</div>
											<!-- Buttons -->
											<div class="buttons-to-right single-right-button" (click)="deleteBookmark(bookmark.job_id)">
												<a href="" class="button red ripple-effect ico"
													data-tippy-placement="left" data-tippy=""
													data-original-title="Remove" onclick="return false"><i
														class="icon-feather-trash-2"></i></a>
											</div>
										</li>



									</ul>
								</div>
							</div>
						</div>
					</div>
					<app-pagination  [paginationData]="paginationData"></app-pagination>
				</div>

				<!-- Dashboard Box -->
				<div class="col-xl-12">
					<div class="dashboard-box">

						<!-- Headline -->
						<div class="headline">
							<h3><i class="icon-material-outline-face"></i> Bookmarked Companies</h3>
						</div>

						<div class="content">
							<ul class="dashboard-box-list">
								<li>
									<!-- Overview -->
									<div class="freelancer-overview">
										<div class="freelancer-overview-inner">

											<!-- Avatar -->
											<div class="freelancer-avatar">
												<div class="verified-badge"></div>
												<a href="#"><img src="images/user-avatar-big-02.jpg" alt=""></a>
											</div>

											<!-- Name -->
											<div class="freelancer-name">
												<h4><a href="#">David Peterson <img class="flag" src="images/flags/de.svg" alt="" data-tippy-placement="top" data-tippy="" data-original-title="Germany"></a></h4>
												<span>iOS Expert + Node Dev</span>
												<!-- Rating -->
												<div class="freelancer-rating">
													<div class="star-rating" data-rating="4.2"><span class="star"></span><span class="star"></span><span class="star"></span><span class="star"></span><span class="star empty"></span></div>
												</div>
											</div>
										</div>
									</div>

									<!-- Buttons -->
									<div class="buttons-to-right single-right-button">
										<a href="#" class="button red ripple-effect ico" data-tippy-placement="left" data-tippy="" data-original-title="Remove"><i class="icon-feather-trash-2"></i></a>
									</div>
								</li>
								<li>
									<!-- Overview -->
									<div class="freelancer-overview">
										<div class="freelancer-overview-inner">

											<!-- Avatar -->
											<div class="freelancer-avatar">
												<a href="#"><img src="images/user-avatar-placeholder.png" alt=""></a>
											</div>

											<!-- Name -->
											<div class="freelancer-name">
												<h4><a href="#">Marcin Kowalski <img class="flag" src="images/flags/pl.svg" alt="" data-tippy-placement="top" data-tippy="" data-original-title="Poland"></a></h4>
												<span>Front-End Developer</span>
												<!-- Rating -->
												<div class="freelancer-rating">
													<div class="star-rating" data-rating="4.7"><span class="star"></span><span class="star"></span><span class="star"></span><span class="star"></span><span class="star half"></span></div>
												</div>
											</div>
										</div>
									</div>

									<!-- Buttons -->
									<div class="buttons-to-right single-right-button">
										<a href="#" class="button red ripple-effect ico" data-tippy-placement="left" data-tippy="" data-original-title="Remove"><i class="icon-feather-trash-2"></i></a>
									</div>
								</li>
							</ul>
						</div>
					</div>
				</div>
