<div class="single-page-section">
  <h3 class="margin-bottom-25">Job Description</h3>
  <p>
    {{ jobData.job_description }}
  </p>
</div>

<div class="single-page-section">
  <h3 class="margin-bottom-30">Location</h3>
  <div id="single-job-map-container">
    <div
      id="singleListingMap"
      data-latitude="51.507717"
      data-longitude="-0.131095"
      data-map-icon="im im-icon-Hamburger"
    ></div>
    <a href="#" id="streetView">Street View</a>
  </div>
</div>

<div class="single-page-section">
  <h3 class="margin-bottom-25">Similar Jobs</h3>

  <!-- Listings Container -->
  <div class="listings-container grid-layout">
    <!-- Job Listing -->
    <a href="#" class="job-listing">
      <!-- Job Listing Details -->
      <div class="job-listing-details">
        <!-- Logo -->
        <div class="job-listing-company-logo">
          <img src="/assets/images/company-logo-02.png" alt="" />
        </div>

        <!-- Details -->
        <div class="job-listing-description">
          <h4 class="job-listing-company">Coffee</h4>
          <h3 class="job-listing-title">Barista and Cashier</h3>
        </div>
      </div>

      <!-- Job Listing Footer -->
      <div class="job-listing-footer">
        <ul>
          <li>
            <i class="icon-material-outline-location-on"></i> San Francisco
          </li>
          <li>
            <i class="icon-material-outline-business-center"></i>
            Full Time
          </li>
          <li>
            <i class="icon-material-outline-account-balance-wallet"></i>
            $35k - $38k
          </li>
          <li><i class="icon-material-outline-access-time"></i> 2 days ago</li>
        </ul>
      </div>
    </a>

    <!-- Job Listing -->
    <a href="#" class="job-listing">
      <!-- Job Listing Details -->
      <div class="job-listing-details">
        <!-- Logo -->
        <div class="job-listing-company-logo">
          <img src="/assets/images/company-logo-03.png" alt="" />
        </div>

        <!-- Details -->
        <div class="job-listing-description">
          <h4 class="job-listing-company">
            King
            <span
              class="verified-badge"
              title="Verified Employer"
              data-tippy-placement="top"
            ></span>
          </h4>
          <h3 class="job-listing-title">Restaurant Manager</h3>
        </div>
      </div>

      <!-- Job Listing Footer -->
      <div class="job-listing-footer">
        <ul>
          <li>
            <i class="icon-material-outline-location-on"></i> San Francisco
          </li>
          <li>
            <i class="icon-material-outline-business-center"></i>
            Full Time
          </li>
          <li>
            <i class="icon-material-outline-account-balance-wallet"></i>
            $35k - $38k
          </li>
          <li><i class="icon-material-outline-access-time"></i> 2 days ago</li>
        </ul>
      </div>
    </a>
  </div>
  <!-- Listings Container / End -->
</div>
