<div class="boxed-list-item">
  <!-- Content -->
  <div class="item-content">
    <h4>Doing things the right way <span>Anonymous Employee</span></h4>
    <div class="item-details margin-top-10">
      <div class="star-rating" data-rating="5.0"></div>
      <div class="detail-item">
        <i class="icon-material-outline-date-range"></i> August 2018
      </div>
    </div>
    <div class="item-description">
      <p>
        Great company and especially ideal for the career-minded individual. The
        company is large enough to offer a variety of jobs in all kinds of
        interesting locations. Even if you never change roles, your job changes
        and evolves as the company grows, keeping things fresh.
      </p>
    </div>
  </div>
</div>
