<!-- Modal Component / Start-->
<app-modal
	#reviewAdd
	[content]="'companyProfile-reviewAdd-form'"
	[contentStyle]="'col-12 col-md-6 col-xl-4'"
	[params]="addReviewParams"
></app-modal>
<!-- Modal Component / End-->

<!-- Company-Titlebar Component / Start-->
<app-company-titlebar [company_data]="company_data"></app-company-titlebar>
<!-- Company-Titlebar Component / End-->

<!-- Page Content -->
<div class="container">
	<div class="row">
		<!-- Content -->
		<div class="col-xl-8 col-lg-8 content-right-offset">
			<!-- Company-About Component / Start -->
			<app-company-about
				[company_data]="company_data"
			></app-company-about>
			<!-- Company-About Component / End -->

			<!-- Boxed List -->
			<div class="boxed-list margin-bottom-60">
				<div class="boxed-list-headline">
					<h3>
						<i class="icon-material-outline-business-center"></i>
						Open Positions
					</h3>
				</div>

				<div class="listings-container compact-list-layout">
					<!-- Job Listing -->

					<!-- Company-Openjob Component / Start-->
					<a
						*ngFor="let open_job of open_jobs_list"
						href="javascript:;"
						class="job-listing"
					>
						<app-company-openjobs
							[open_job]="open_job"
							[userType]="userType"
							(toggleBookmark)="
								toggleBookmark(companyId, open_job.id)
							"
						></app-company-openjobs>
					</a>
					<!-- Company-Openjob Component / End-->
				</div>
			</div>
			<!-- Boxed List / End -->

			<!-- Boxed List -->
			<div class="boxed-list margin-bottom-60">
				<div class="boxed-list-headline">
					<h3>
						<i class="icon-material-outline-thumb-up"></i> Reviews
					</h3>
				</div>
				<ul class="boxed-list-ul">
					<!-- Company-reviews Component / Start-->
					<li *ngFor="let review of company_reviews">
						<app-company-reviews
							[review]="review"
						></app-company-reviews>
					</li>
					<!-- Company-reviews Component / End-->
				</ul>

				<div
					*ngIf="userType == 'emp'"
					class="centered-button margin-top-35"
				>
					<a
						(click)="reviewAdd.openModal()"
						class="popup-with-zoom-anim button button-sliding-icon " style="color:white !important"
						>Leave a Review
						<i class="icon-material-outline-arrow-right-alt "></i
					></a>
				</div>
			</div>
			<!-- Boxed List / End -->
		</div>

		<!-- Sidebar -->
		<div class="col-xl-4 col-lg-4">
			<div class="sidebar-container">
				<!-- Company-sidebar Component / Start-->
				<app-company-sidebar
					[company_data]="company_data"
					(toggleFollow)="toggleFollow(companyId)"
				></app-company-sidebar>
				<!-- Company-sidebar Component / End-->
			</div>
		</div>
	</div>
</div>

<!-- Spacer -->
<div class="margin-top-15"></div>
<!-- Spacer / End-->
